#combat-dock {
    & .combatant-portrait {
        width: var(--combatant-portrait-size);
        height: calc(var(--combatant-portrait-size) * var(--combatant-portrait-aspect));
        margin: 0 calc(var(--combatant-portrait-size) * 0.1);
        background: url("/ui/denim075.png") repeat;
        border: 1px solid black;
        border-top-width: 0;
        flex-shrink: 0;
        opacity: 1;
        position: relative;
        border-bottom-right-radius: var(--combatant-portrait-border-radius);
        border-bottom-left-radius: var(--combatant-portrait-border-radius);
        transition: width 0.2s ease-in-out, height 0.2s ease-in-out, opacity 0.2s ease-in-out, margin 0.2s ease-in-out, left 0.2s ease-in-out, border-color 0.1s ease-in-out;

        &:hover {
            border-color: rgba(255, 255, 255, 0.616);
            & .combatant-buttons {
                opacity: 0.7;
            }
            & .portrait-initiative {
                opacity: 1;
            }
        }

        &.visible {
            opacity: 0.5;
        }
        //define border blink animation

        @keyframes border-blink {
            0% {
                border-color: rgba(255, 255, 255, 0.179);
            }
            100% {
                border-color: rgba(255, 255, 255, 0.616);
            }
        }

        &.active {
            width: calc(var(--combatant-portrait-size) * 1.2);
            height: calc(var(--combatant-portrait-size) * var(--combatant-portrait-aspect) * 1.2);
            animation: border-blink 0.5s ease-in-out infinite alternate;
        }

        &:not(.active) .portrait-pass{
            display: none;
        }

        &.collapsed {
            width: 0px;
            opacity: 0px;
            margin: 0;
        }
    }

    @keyframes spin-anim {
        0% {
            transform: rotate(0deg);
        }
        100% {
            transform: rotate(359deg);
        }
    }

    & .portrait-pass {
        position: absolute;
        width: 100%;
        height: 100%;
        font-size: calc(var(--combatant-portrait-size) * 0.65);
        display: flex;
        justify-content: center;
        align-items: center;
        z-index: 99;
        color: var(--color-text-light-0);
        text-shadow: 0 0 5px;
        pointer-events: none;

        & i{
            opacity: 0;
            transition: opacity 0.2s ease-in-out;
            pointer-events: all;
            &:hover {
                cursor: pointer;
                opacity: 1;
            }
        }

    }

    & .roll-initiative {
        font-size: calc(var(--combatant-portrait-size) * 0.5);
        width: 100%;
        height: 100%;
        background-position: center;
        background-size: 40%;
        background-repeat: no-repeat;
        position: absolute;
        display: flex;
        justify-content: center;
        align-items: center;
        color: var(--color-text-light-0);
        text-shadow: 0px 0px 2px;
        transition: text-shadow 0.2s ease-in-out, opacity 0.2s ease-in-out;
        opacity: 0.5;
        z-index: 999;

        &:hover {
            cursor: pointer;
            text-shadow: 0px 0px 5px;
            opacity: 1;
            animation: spin-anim 1s ease-in-out infinite;
        }
    }

    & .combatant-wrapper {
        width: 100%;
        height: 100%;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: top;
        position: relative;
        border-bottom-right-radius: var(--combatant-portrait-border-radius);
        border-bottom-left-radius: var(--combatant-portrait-border-radius);

        & .portrait-initiative {
            font-size: calc(var(--combatant-portrait-size) * 0.15);
            position: absolute;
            left: calc(var(--combatant-portrait-size) * 0.1);
            top: calc(var(--combatant-portrait-size) * 0.05);
            color: var(--color-text-light-0);
            opacity: 0.7;
            text-shadow: 0px 0px 5px black;
            display: flex;
            justify-content: center;
            align-items: center;
            width: calc(var(--combatant-portrait-size) * 0.25);
            height: calc(var(--combatant-portrait-size) * 0.25);
            transition: opacity 0.2s ease-in-out;
            opacity: 0.5;

            & i {
                position: absolute;
                font-size: calc(var(--combatant-portrait-size) * 0.25);
                opacity: 0.5;
                width: 100%;
                height: 100%;
                background-position: center;
                background-repeat: no-repeat;
                background-size: contain;
            }

            & span {
                position: absolute;
                text-align: center;
            }
        }

        & .effects-container {
            position: absolute;
            top: 0;
            right: 0;
            list-style: none;
            padding: 0;
            margin: 0;
            text-align: left;
            width: 20%;
            max-height: 70%;
            display: flex;
            flex-wrap: wrap-reverse;
            flex-direction: column;
            gap: 0.1rem;
            padding: 0.1rem;
            opacity: 0.85;

            & li {
                width: 100%;
                aspect-ratio: 1;
                background-position: center;
                background-repeat: no-repeat;
                background-size: cover;
                border-radius: 10%;
            }
        }

        & .bottom-ui-container {
            position: absolute;
            bottom: 5%;
            display: flex;
            flex-direction: column;
            align-items: center;
            width: 100%;
            color: var(--color-text-light-7);
        }

        & .combatant-buttons {
            font-size: calc(var(--combatant-portrait-size) * 0.15);
            color: var(--color-text-light-0);
            display: flex;
            gap: 0.3rem;
            margin-bottom: 0.3rem;
            opacity: 0;
            transition: opacity 0.2s ease-in-out;

            & i:hover {
                cursor: pointer;
                text-shadow: 0px 0px 5px;
            }
        }

        & .tracked-attribute-text-container {
            display: flex;
            justify-content: center;
            width: 100%;
            text-shadow: 0px 0px 2px black;
            font-size: calc(var(--combatant-portrait-size) * 0.15);
            font-family: monospace;

            & .tracked-attribute-text-value {
                color: var(--attribute-bar-primary-color);
            }
        }

        & .image-border {
            position: absolute;
            background-image: var(--combatant-portrait-image-border);
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            width: calc(100% - (var(--combatant-portrait-border-radius) * 2));
            left: calc(var(--combatant-portrait-border-radius));
            height: 40%;
            bottom: -20%;
            opacity: 0.8;
        }

        & .tracked-attribute-bar {
            height: 100%;
            width: 100%;
            position: relative;
            left: 0px;
            overflow: hidden;
            border-bottom-right-radius: var(--combatant-portrait-border-radius);
            border-bottom-left-radius: var(--combatant-portrait-border-radius);

            & .tracked-attribute-bar-max {
                height: 100%;
                width: 5%;
                bottom: 0px;
                position: absolute;
                background-color: rgba(0, 0, 0, 0.838);
            }
            & .tracked-attribute-bar-current {
                width: 5%;
                bottom: 0px;
                position: absolute;
                background: linear-gradient(180deg, var(--attribute-bar-primary-color) 0%, var(--attribute-bar-secondary-color) 100%);
            }
        }
    }
}
