#combat-dock {
    & .combatant-portrait {
        width: var(--combatant-portrait-size);
        height: calc(var(--combatant-portrait-size) * 1.5);
        margin: 0 calc(var(--combatant-portrait-size) * 0.1);
        background: url("/ui/denim075.png") repeat;
        border: 1px solid black;
        opacity: 1;
        position: relative;
        transition: width 0.2s ease-in-out, height 0.2s ease-in-out, opacity 0.2s ease-in-out, margin 0.2s ease-in-out, left 0.2s ease-in-out;

        &.visible{
            opacity: 0.5;
        }

        &.active {
            width: calc(var(--combatant-portrait-size) * 1.2);
            height: calc(var(--combatant-portrait-size) * 1.8);
        }

        &.collapsed {
            width: 0px;
            opacity: 0px;
            margin: 0;
        }
    }

    & .combatant-wrapper {
        width: 100%;
        height: 100%;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: center;
        position: relative;

        & .tracked-attribute-text-container {
            position: absolute;
            bottom: 5%;
            display: flex;
            justify-content: center;
            width: 100%;
            color: var(--color-text-light-7);
            text-shadow: 0px 0px 2px black;
            font-size: calc(var(--combatant-portrait-size) * 0.15);
            font-family: monospace;

            & .tracked-attribute-text-value {
                color: var(--attribute-bar-primary-color);
            }
        }

        & .image-border {
            position: absolute;
            background-image: url("/modules/combat-tracker-dock/assets/border.png");
            background-repeat: no-repeat;
            background-size: cover;
            background-position: center;
            width: 100%;
            height: 20%;
            bottom: -20%;
            filter: brightness(3);
            opacity: 0.7;
        }

        & .tracked-attribute-bar {
            height: 100%;
            width: 5%;
            position: relative;
            left: 0px;

            & .tracked-attribute-bar-max {
                height: 100%;
                width: 100%;
                bottom: 0px;
                position: absolute;
                background-color: black;
            }
            & .tracked-attribute-bar-current {
                width: 100%;
                bottom: 0px;
                position: absolute;
                background: linear-gradient(180deg, var(--attribute-bar-primary-color) 0%, var(--attribute-bar-secondary-color) 100%);
            }
        }
    }
}
