.combat-dock-tooltip{

    & ul{
        list-style: none;
        padding: 0;
        margin: 0;
        text-align: left;
    }

    & img{
        width: 1em;
        height: 1em;
        object-fit: contain;
    }

}