#tooltip.combat-dock-tooltip{

    border: 1px solid var(--carousel-tooltip-color);
    border-radius: 0px;
    box-shadow: 0px 0px 10px 0px rgba(0, 0, 0, 0.873);
    background: var(--carousel-tooltip-bg-color);
    padding: 0;
    opacity: 0.8;
    min-width: 200px;

    & .combat-dock-tooltip-wrapper{   

        box-shadow: inset 0px 0px 10px 0px rgba(0, 0, 0, 0.873);
        border-radius: 0px;
        padding: 1rem ;
        
            font-family: 'Amiri';

            & .initiative{
                display: flex;
                align-items: center;
                gap:0.2rem;
            }

            & .portrait-header{
                display: flex;
                justify-content: space-between;
                align-items: center;
            }

            & h2{
                border:none;
                text-align: left;
                margin: 0;
            }

            & h3{
                margin: 0;
            }

            & .spacer{
                min-width: 0.5rem;
            }
        
            & p{
                color: var(--carousel-tooltip-color);
                margin: 0;
                margin-top: 0.5rem;
                text-align: left;
                filter: saturate(50%)
            }
        
            & ul{
                list-style: none;
                padding: 0;
                padding-top: 1rem;
                margin: 0;
                text-align: left;
            }

            & li{
                display: flex;
                align-items: flex-end;
                margin-bottom: 0.3rem;
            }
        
            & img{
                width: 1.2em;
                height: 1.2em;
                object-fit: contain;
                border:none;
            }

            & li i.icon{
                font-size: 1.2em;
                text-shadow: 0px 0px 3px;
            }
    }

}