#combat-dock{

    display: flex;
    justify-content: center;
    pointer-events: all;
    position: absolute;
    width: 100%;
    overflow-x: visible;
    overflow-y: visible;

    & #combatants{
        display: flex;
    }

    & .separator{
        height: 100%;
        border: 1px solid white;
        opacity: 0.7;
        border-bottom-left-radius: 50%;
        border-bottom-right-radius: 50%;
    }

}