<div id="combat-dock">
    <div class="buttons-container left">
        <i class="fas fa-undo" data-action="reset"></i>
        <i class="fas fa-users" data-action="roll-all"></i>
        <i class="fas fa-users-cog" data-action="roll-npc"></i>
        <i class="fas fa-chevron-left" data-action="previous-turn"></i>
        <i class="fas fa-chevrons-left" data-action="previous-round"></i>
    </div>
<div id="combatants"></div>
    <div class="buttons-container right">
        <i class="fas fa-play" data-action="start-combat"></i>
        <i class="fas fa-ban" data-action="end-combat"></i>
        <i class="fas fa-cog" data-action="configure"></i>
        <i class="fas fa-chevron-right" data-action="next-turn"></i>
        <i class="fas fa-chevrons-right" data-action="next-round"></i>
    </div>
</div>