<div id="combat-dock" class="hidden">
    <div class="buttons-container left" {{#unless isGM}}style="display: none;"{{/unless}}>
        <i class="fas fa-undo" data-tooltip="COMBAT.InitiativeReset" data-action="reset"></i>
        <i class="fas fa-users" data-tooltip="COMBAT.RollAll" data-action="roll-all"></i>
        <i class="fas fa-users-cog" data-tooltip="COMBAT.RollNPC" data-action="roll-npc"></i>
        <i class="fas fa-chevron-left" data-tooltip="COMBAT.TurnPrev" data-action="previous-turn"></i>
        <i class="fas fa-chevrons-left" data-tooltip="COMBAT.RoundPrev" data-action="previous-round"></i>
    </div>
<div id="combatants"></div>
    <div class="buttons-container right" {{#unless isGM}}style="display: none;"{{/unless}}>
        <i class="fas fa-play" data-tooltip="COMBAT.Begin" data-action="start-combat"></i>
        <i class="fas fa-ban" data-tooltip="COMBAT.End" data-action="end-combat"></i>
        <i class="fas fa-cog" data-tooltip="COMBAT.Settings" data-action="configure"></i>
        <i class="fas fa-chevron-right" data-tooltip="COMBAT.TurnNext" data-action="next-turn"></i>
        <i class="fas fa-chevrons-right" data-tooltip="COMBAT.RoundNext" data-action="next-round"></i>
    </div>
</div>